* {
  font-family: 'Comfortaa', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  max-width: 500px;
  border: 3px solid black;
  margin: 30px auto;
  padding: 1rem;
  border-radius: 15px;
  
}

h1 {
  text-align: center;
  margin: .5rem;
}

h3 {
  margin: .7rem;
}

h4 {
  font-size: 22px;
}

label {
  margin: .5rem;
}

p{
  font-size: 19px;
  margin-bottom: .5rem;
}

input {
  margin: .7rem;
  font-size: 20px;
  padding: .3rem;
  border-radius: 7px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client, .loan, .downpayment, .term  {
  width: 80%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: .5rem .7rem;
  border-radius: 5px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn:hover {
  padding: .5rem .7rem;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #333;
  border: #333 solid 3px;
  cursor: pointer;
}

.radio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest {
  padding: .3rem;
  margin: .2rem .4rem;
  height: 20px;
  width: 20px;
}


.hidden {
  opacity: 0;
  transition: 0.3s ease;
}

.popup {
  width: 700px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 10px 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

}

/* .popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
} */

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 30%;
  margin-top: 50px;
  padding: 10px 0;
  background: #333;
  border: 0;
  color: #fff;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);

}